---
const { title, description, techStack, license, slug } = Astro.props;
import colorMap from "../assets/colorMap.ts";
---

<div class="border-b border-gray-500 py-6">
	<a class="text-lg font-bold text-blue-500 hover:underline" href={`https://github.com/javsanmar5/${slug}`}>{title}</a>
	<p class="text-sm text-gray-500">{description}</p>
	<ul>
		{techStack.map((tech: string, index: number) => {
			const bgColor: string = colorMap[tech] || "bg-gray-500";
			return (
				<li class={`inline-block ${bgColor} text-white px-2 py-1 rounded-md text-xs mr-2 my-3`}>
					{tech}
				</li>
			);
		})}
	</ul>
	<p class="text-sm text-gray-500">{license}</p>
</div>